In [3]:
def method (a,b):
    return a+b
method(5,4)

9

In [6]:
list = [3,4,5,6]
sum(list)

18

In [7]:
min(list)

3

In [12]:
list.append(5)

In [14]:
sum(list)/len(list)

4.6

In [16]:
list[2]

5

In [19]:
#sets

set_nota = {2,3,4,4,5,6,31,1,11,2,33}
set_nota

{1, 2, 3, 4, 5, 6, 11, 31, 33}

In [23]:
x = 'Ronaldinho'
for letra in x:
    print(letra)
    
list(range(1,10,2))

R
o
n
a
l
d
i
n
h
o

TypeError: 'list' object is not callable

In [24]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [26]:
pessoas = ['ISAbela','CLOVIS','MaRILDA','ronaldinho']
pessoas_normalizadas = [pessoa.strip().capitalize() for pessoa in pessoas]
pessoas_normalizadas

['Isabela', 'Clovis', 'Marilda', 'Ronaldinho']

In [29]:
#dicionarios

set = {3,4,5,6}
dicionario = {'nome': 'elizabeth', 'idade':22}
dicionario
dicionario['idade']

22

In [30]:
dicionari0 = [{'nome': 'elizabetha', 'idade':22},{'nome': 'elizabethu', 'idade':21},{'nome': 'elizabethg', 'idade':25}]
dicionari0

[{'nome': 'elizabetha', 'idade': 22},
 {'nome': 'elizabethu', 'idade': 21},
 {'nome': 'elizabethg', 'idade': 25}]

In [50]:
#classes e obj
class JogadorLoteria:
    def _init_(self,nome):
        self.nome = nome
        self.numeros = (1,2,3,4,5,7)
    
    def total(self):
        return sum(self.numeros)
    
        jogador_1 = JogadorLoteria('jureg')
        jogador_2 = JogadorLoteria('feona')

In [57]:
#Heran√ßa
class Funcionario():
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario
        
    def dados(self):
        return{'nome':self.nome, 'salario': self.salario}

In [58]:
luiz = Funcionario('Luiz',3500)
luiz.dados()

{'nome': 'Luiz', 'salario': 3500}

In [59]:
class Admin(Funcionario):
    def __init__(self, nome, salario):
        super().__init__(nome,salario)
        
    def atualizar_dados (self, nome):
        self.nome = nome
        return self.dados()

In [61]:
fernando = Admin('Fernando',22000)

In [62]:
fernando.dados()

{'nome': 'Fernando', 'salario': 22000}

In [63]:
fernando.atualizar_dados('Ronaldinho')

{'nome': 'Ronaldinho', 'salario': 22000}

In [64]:
fernando.dados()

{'nome': 'Ronaldinho', 'salario': 22000}